KAMU_MOLECULE_BRIDGE_HTTP_ADDRESS=127.0.0.1
KAMU_MOLECULE_BRIDGE_HTTP_PORT=8080

KAMU_MOLECULE_BRIDGE_KAMU_NODE_GQL_API_ENDPOINT=https://api.dev.kamu.dev/graphql
KAMU_MOLECULE_BRIDGE_KAMU_NODE_TOKEN=

KAMU_MOLECULE_BRIDGE_MOLECULE_PROJECTS_DATASET_ALIAS=molecule.dev/projects
KAMU_MOLECULE_BRIDGE_MOLECULE_PROJECTS_LOADING_INTERVAL_IN_SECS=1800

KAMU_MOLECULE_BRIDGE_CHAIN_ID=
KAMU_MOLECULE_BRIDGE_RPC_URL=

# https://base-sepolia.blockscout.com/address/0x13ff210695fdb54a7f928eccc28bc3486c05bb28
KAMU_MOLECULE_BRIDGE_LABNFT_CONTRACT_ADDRESS=0x13Ff210695fdb54A7F928ECcc28BC3486c05BB28
KAMU_MOLECULE_BRIDGE_LABNFT_CONTRACT_BIRTH_BLOCK=41449117

# Ethereum: finalized blocks appear every 2 epochs (~12.8 minutes).
#           Using slightly smaller interval to guarantee more than one check during this time.
KAMU_MOLECULE_BRIDGE_INDEXING_DELAY_BETWEEN_ITERATIONS_IN_SECS=720

# Comma separated
KAMU_MOLECULE_BRIDGE_IGNORE_OCL_IDS=
