# Replace with your API key
OCL_RPC_URL=https://sepolia.base.org
# https://github.com/moleculeprotocol/onchainlabs/blob/main/deployments/abi/LabNFT.md
OCL_LABNFT_ADDRESS=0x13Ff210695fdb54A7F928ECcc28BC3486c05BB28
# Optional
OCL_LABNFT_FROM_BLOCK=0
